<div class="container">
  <h1>This is our Anagram list</h1>
  <% if @word_anagram %>
    <% @word_anagram.each do |word_object| %>
      <li> <%= word_object.name %> </li>
    <% end %>
  <% end %>

  <form action="/post_route" method="post">
    Input a word to find its anagrams
    <br>
    <input type="text" name="user_input">
    <input type="submit" value="Test it!">
  </form>
  
</div>
